body{
  background-color: #011627;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  border: 2em solid #FF9F1C;
  border-top: 0em;
  margin: 0em;
}

.mainTop{
  background: #011627;
  height: 1.4em;
}

.mainBottom{
  background: #011627;
  position: absolute;
  bottom: 0;
  width: 100%;
}

h2:first-of-type{
  margin-top: 1em;
  margin-bottom: 6em;
}

h2:last-of-type{
  margin-bottom: 3em;
}

p:first-of-type{
  margin-bottom: 6em;
}

table.tblForm {
  margin-left: auto;
  margin-right: auto;
}

input{
  width: 20em;
  height: 2em;
  margin-bottom: 0.5em;
}

#btnsubmit{
  background: #FF9F1C;
  border-radius: 1.5em;
  width: 8em;
  height: 4em;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
}
